{
  "openapi": "3.0.1",
  "info": {
    "title": "papi",
    "description": "Placer Public API",
    "version": "0.1-oas3"
  },
  "servers": [
    {
      "url": "https://papi.placer.ai",
      "x-amazon-apigateway-endpoint-configuration": {
        "disableExecuteApiEndpoint": true
      }
    }
  ],
  "security": null,
  "paths": {
    "/v1/poi/custom-poi/{id}": {
      "delete": {
        "summary": "Delete Custom POI",
        "tags": [
          "Manage POIs"
        ],
        "description": "This service allows developers to delete a custom POI by its apiId.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Placer API ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "complex:5f7a2d2dc2b5e82a0114cf62"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCustomPoiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      },
      "get": {
        "summary": "Get Custom POI Info",
        "tags": [
          "Manage POIs"
        ],
        "description": "The Get Custom POI Info service can be used to retrieve information regarding any of your <<glossary:Custom POI>>s, by providing its id.</br> If the requested Custom POI is newly created, this endpoint will respond with the following statuses:</br>\n- **HTTP code = 200**: The full response for the Get Custom POI is provided.</br> - **HTTP code = 202**: The creation process is still in progress.</br> - **HTTP code = 404**: The POI does not exist, indicating a failure in the creation process. Please retry creating the custom POI.</br> - **HTTP code = 500**: Server error.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Placer API ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "complex:5f7a2d2dc2b5e82a0114cf62"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPoiInfoGetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      },
      "put": {
        "summary": "Update Custom POI",
        "tags": [
          "Manage POIs"
        ],
        "description": "The Update POI service can be used to update any of your <<glossary:Custom POI>>s, by providing any combination of the following custom POI\u2019s properties(at least one):<br/> <ol> <li>Name - the POI\u2019s name.</li> <li>Area - can be defined either by determining the centroid (lng, lat) and the radius to create the POI area, or by a list of all polygon GEO points (lng,lat).</li> <li>Sub-category (For available sub-categories, see <a href=\"https://view-su2.highspot.com/viewer/87b4c810b4bc52f78f8fd2862fdf31dd\">listed categories</a>.</li> <li>Address - the consumer can change any of the following properties: street address, city and/or zipcode.</li> </ol>",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Placer API ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "complex:5f7a2d2dc2b5e82a0114cf62"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomPoiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPoiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/poi/tags/": {
      "delete": {
        "summary": "Remove POI List From an Existing Tag",
        "tags": [
          "Manage POIs"
        ],
        "description": "This service can be used to detach entities from an existing tag.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTagMembersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyTagEntitiesResponseSuccess"
                }
              }
            }
          },
          "207": {
            "$ref": "#/components/responses/207_delete_entities_to_tags"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      },
      "post": {
        "summary": "Create a new tag",
        "tags": [
          "Manage POIs"
        ],
        "description": "Using this service, you have the capability to generate a fresh tag for organizing entities according to your specific business needs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewTagResponseSuccess"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      },
      "put": {
        "summary": "Add POI List to an Existing Tag",
        "tags": [
          "Manage POIs"
        ],
        "description": "This service can be used to attach entities to an existing tag.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagMembersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyTagEntitiesResponseSuccess"
                }
              }
            }
          },
          "207": {
            "$ref": "#/components/responses/207_add_entities_to_tags"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/accounts/keys/usage-status": {
      "get": {
        "summary": "Account Usage",
        "tags": [
          "Account Info"
        ],
        "description": "Retrieves the current API usage status for the requesting API key.<br> This endpoint helps you monitor consumption and remaining quota. <strong>Running it 2\u20133 times per week</strong> is recommended for optimal tracking usage patterns.<br> <strong>Note:</strong> <ul> <li>The weekly quote renewals occur every <strong>Sunday at 12:00 a.m. UTC</strong>.</li> <li>There can be a discrepancy between usedQuota and the sum of calls made to individual endpoints because only <a href=\"https://docs.placer.ai/reference/faqs-1#q-what-api-calls-count-towards-my-quota\"><strong>successful calls</strong> are counted</a>.</li> </ul>",
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageStatusResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${account_management_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/poi": {
      "get": {
        "summary": "Search for Placer Entities",
        "tags": [
          "Manage POIs"
        ],
        "description": "This service returns a list of Placer managed entities in a particular area. You can search based on any combination of the following filter parameters:<br/> entities within a specific location radius, entities associated with a specific group category/category/sub category, entity name or type.<br/> The response lists the matched entities, including address and location, zip code, group category, category ,sub-category and a link to Placer dashboard.<br/> The service supports pagination using the skip parameter. The first 1000 entities matching the criteria of the request are available.<br/> For available categories, see <a href=\"https://view-su2.highspot.com/viewer/87b4c810b4bc52f78f8fd2862fdf31dd\">listed categories</a>.</br></br> <b>Note</b> that when using the radius parameter, the actual area being considered for searching POIs is the area within a square that is bounding the circle, which is defined by the requested radius.</br> <b>Please note:</b> In case you receive results where the isPermitted attribute is set to \u201cfalse\u201d, that means that you are not permitted to run reports for those. In case you wish to extend your permissions please contact <a href=\"mailto:support@placer.ai\">customer support</a>.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of query location, if specified then response will not include <<glossary:Chains>>",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Latitude"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude of query location, if specified then response will not include chains",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Longitude"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "String included in the entity name",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            },
            "example": "Walmart"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 2000,
              "default": 1
            },
            "description": "Filter results by radius in miles. default value 0.01 miles"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter specific category",
            "schema": {
              "type": "string"
            },
            "example": "Superstores"
          },
          {
            "name": "subCategory",
            "in": "query",
            "description": "Filter specific sub category",
            "schema": {
              "type": "string"
            },
            "example": "Big Box Store"
          },
          {
            "name": "groupCategory",
            "in": "query",
            "description": "Filter specific group category i.e. Search POIs by business domains (e.g. Apparel,Dining, ....)",
            "schema": {
              "type": "string"
            },
            "example": "Superstores"
          },
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "array",
              "default": [
                "venue",
                "complex",
                "chain"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "venue",
                  "complex",
                  "chain"
                ]
              }
            },
            "description": "Filter out specific entity type in search result. If this is not provided, all entity types will be returned",
            "required": false,
            "explode": false,
            "example": [
              "venue"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Search result limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0,
              "maximum": 999
            }
          },
          {
            "name": "includeFlaggedEntities",
            "in": "query",
            "description": "If the parameter is set to true, the response will also include flagged entities",
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${search_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/poi/{id}/entities": {
      "get": {
        "summary": "Get Sub-Entities for a complex, a chain or a tag",
        "tags": [
          "Manage POIs"
        ],
        "description": "Returns a list of sub-entities for given api ID. Sub-entities can be associated with <<glossary:Complexes>>, <<glossary:Chains>> and <<glossary:Tags>> . <<glossary:Complexes>> and <<glossary:Chains>> contain venues as their sub-entities while <<glossary:Tags>>  may have venues, <<glossary:Complexes>> or <<glossary:Chains>><br/><br/> <strong> &#10045; This service supports chain level requests</strong>.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Placer entity API ID (i.e. ID of a <strong>chain</strong>, a <strong>complex</strong> or a <strong>tag</strong>)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "chain:58ef64a9173f5601f92d8f0e"
          },
          {
            "name": "includeRegionalChains",
            "in": "query",
            "description": "Set this parameter to True for pulling regional chains(under the parent chain requested) as well as all other sub entities.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubEntitiesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_invalid_argument"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/poi/my-properties": {
      "get": {
        "summary": "Get Listed Entities for Account.",
        "tags": [
          "Manage POIs"
        ],
        "description": "Returns a list of entities for a given account.The response will include all entities which are under the Property tag (i.e. Portfolio).",
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPropertiesResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/poi/custom-poi": {
      "post": {
        "summary": "Create Custom POI",
        "tags": [
          "Manage POIs"
        ],
        "description": "The create <<glossary:Custom POI>> endpoint can be used to generate custom POIs by specifying the unique polygons to               analyze.<br/> The <<glossary:Custom POI>> can be generated by either specifying the combination of centroid (lng, lat) and mile radius to draw the POI's area, or by using GEOJson which includes a list of all polygon GEO points (lng, lat).<br/> This endpoint runs duplication checks on each call in order to ensure that the same <<glossary:Custom POI>> is not created more than once. If a <<glossary:Custom POI>> is already created the return code will display a wrong request (http-code=400) specifying the previously created API ID.</br> Please be aware that creating custom POIs might take longer than 30 seconds, which falls within the timeout window. During such occurrences, the HTTP response code will be 202 (i.e., In progress), along with the apiId of the partially created POI. You can monitor the creation status by querying the <a href=Get Custom POI Info > Get Custom POI</a> endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomPoiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPoiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${poi_info_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/favorites-chains": {
      "post": {
        "summary": "Visitor Journey - Favorite Chains",
        "tags": [
          "Visitor Journey Reports"
        ],
        "description": "Favorite <<glossary:Chains>> provides a list of other <<glossary:Chains>> that visitors to your location have also visited during the selected time frame (e.g., X% of visitors to My Venue also visited Chain A during the last X months).<br/>\nYou may choose specific categories to examine among the <a href=\"https://view-su2.highspot.com/viewer/87b4c810b4bc52f78f8fd2862fdf31dd\">listed categories</a> and define the minimum visit frequency.<br/>\nThe response includes the top 50 properties matching the requested parameters.<br/><br/> <br/><br/> &#x23F1; <strong>Average measured processing time: 4.46 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/> &#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteChainsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/favorites-places": {
      "post": {
        "summary": "Visitor Journey - Favorite Places",
        "tags": [
          "Visitor Journey Reports"
        ],
        "description": "Favorite Places provides a list of other places that visitors to your location have also visited during the selected time frame (e.g., X% of visitors to My Venue also visited Place A during the last X months).<br/>\nYou may choose specific categories to examine among the <a href=\"https://view-su2.highspot.com/viewer/87b4c810b4bc52f78f8fd2862fdf31dd\">listed categories</a> and define the minimum visit frequency.<br/>\nThe response includes the top 50 properties matching the requested parameters.<br/><br/>\n&#x23F1; <strong>Average measured processing time: 4.46 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FavoriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoritePlacesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/loyalty/visits-frequency": {
      "post": {
        "summary": "Visits by Frequency Report",
        "tags": [
          "Loyalty Reports"
        ],
        "description": "This service enables you to learn about the frequency of visitations to the requested POI.<br/> Insights are provided for all the below types of metrics, bucketed into visitations frequency bins (i.e. 1, 2, 3, \u202630+  visits per visitor):<br/> <ul> <li><strong>Visitors</strong> - The estimated number of unique visitors to the POI</li> <li><strong>% of Visitors</strong> - The % of unique visitors that visited the POI</li> <li><strong>Visits</strong> - The estimated number of visits to the POI</li> <li><strong>% of Visits</strong> - The % of visits generated by visitors to the POI </li> </ul> <br/><br/> &#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitsFrequencyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitsFrequencyResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/ranking-index/closely-ranked": {
      "post": {
        "summary": "Ranking Index - Closely Ranked",
        "tags": [
          "Ranking Reports"
        ],
        "description": "This endpoint generates a ranked list of properties relative to a benchmark based on the one of following segments:<br/> <ul> <li>Within Chain - Provides other closely ranked venues within the same chain.</li> <li>category - provides the <<glossary:Ranking>> within the venue\u2019s category</li> <li>Within Category/Group Category - Provides other closely ranked venues within the same category/group category.</li> </ul> Provides view by different metrics and regions.<br/> Metrics:<br/> <ul> <li>Visits: shows the <<glossary:Ranking>> according to the estimated number of visits to the POI.</li> <li>Visits / Sq ft: shows the <<glossary:Ranking>> according to the estimated number of visits relative to the total square footage of a property.</li> </ul> </br> Regions:</br> <ul> <li>nationwide: The nationwide <<glossary:Ranking>> of a POI benchmarked against POIs from the same category or chain.</li>\n<li>state/dma/cbsa: The Ranking benchmarked against POIs from the same category or chain in the POI's state/dma/cbsa.</li>\n<li>Specific distance: The POI\u2019s Ranking benchmarked against POIs from within a 5 / 10 / 15 / 30 / 50 miles radius.</li> </ul> You may define the total number of results to display (up to 1000), whereby half of the results will reflect properties ranked higher than the requested property and half of the results will reflects the ones ranked lower. For example: if the requested POI is ranked 550 and <b>results amount</b> value is set to 200 - then the response includes all properties ranked between 450 and 649 within the indexed list.</br> The endpoint supports pre-defined time buckets and ranking regions.</br><br/>\n&#x23F1; <strong>Average measured processing time: 3.98 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\nNOTE: Flagged entities will not be taken into consideration in the resulting report.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RankingIndexCloselyRankedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RankingIndexResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RankingIndexError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/ranking-index/top-ranking": {
      "post": {
        "summary": "Ranking Index - Top Ranked",
        "tags": [
          "Ranking Reports"
        ],
        "description": "Generate a ranked list of properties relative to a benchmark based on the one of following segments:<br/> <ul> <li>Within Chain - ability to reach all chain\u2019s venues ranked from the top most to the last using pagination.</li> <li>Within Category/Group Category - ability to fetch up to 1000 top ranked properties within the same Category/group category of the requested property.</li> </ul> Provides view by different metrics and regions.<br/> Metrics<br/> <ul> <li>Visits: shows the <<glossary:Ranking>> according to the estimated number of visits to the POI.</li> <li>Visits / Sq ft: shows the <<glossary:Ranking>> according to the estimated number of visits relative to the total square footage of a property.</li> </ul> Regions<br/> <ul> <li>nationwide: The nationwide <<glossary:Ranking>> of a POI benchmarked against POIs from the same category or chain.</li> <li>state/dma/cbsa: The ranking benchmarked against POIs from the same category or chain in the POI's state/dma/cbsa.</li> <li>Specific distance: The POI\u2019s <<glossary:Ranking>> benchmarked against POIs from within a 5 / 10 / 15 / 30 / 50 miles radius.</li> </ul><br/><br/> &#x23F1; <strong>Average measured processing time: 2.71 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\nNOTE: <<glossary:Flagged entities>> will not be taken into consideration in the resulting report.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RankingIndexTopRankingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RankingIndexResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RankingIndexError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/ranking-overview": {
      "post": {
        "summary": "Ranking Metrics for a Single Property",
        "tags": [
          "Ranking Reports"
        ],
        "description": "This service returns the specific entity <<glossary:Ranking>> within a selected scope :<br/> <ul> <li>Chain scope - compares the entity <<glossary:Ranking>> vs all other chain\u2019s entities</li> <li>Group category scope - compares the entity <<glossary:Ranking>> vs all venues under the selected group category (Apparel, Leisure, \u2026).</li> <li>Category scope - compares the entity <<glossary:Ranking>> vs all venues under the selected category (Regional Mall, Industrial, \u2026).</li> </ul> </br> The endpoint supports the option to have a custom date range (as well as pre-defined time buckets) and <<glossary:Ranking>> within a local area ( 5,10,15 miles). <br/> &#x23F1; <strong>Average measured processing time: 8.57 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\nNOTE: <<glossary:Flagged entities>> will not be taken into consideration in the resulting report.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RankingRequestSingular"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankingResponseSingular"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/ranking-overview/multi": {
      "post": {
        "summary": "Ranking Metrics For Multiple Properties",
        "tags": [
          "Ranking Reports"
        ],
        "description": "Returns the <<glossary:Ranking>> for all the requested entities within a selected scope :<br/> <ul> <li> Chain scope - compares each entity <<glossary:Ranking>> vs all other chain\u2019s entities.</li> <li>Group category scope - compares each entity <<glossary:Ranking>> vs all venues under the selected group category (Apparel, Leisure, \u2026).</li> <li>Category scope - compares each entity <<glossary:Ranking>> vs all venues under the selected category (Regional Mall, Industrial, \u2026).</li> </ul> The service supports <<glossary:Ranking>> based on pre-defined periods. (In case a custom date range is required use /reports/ranking-overview endpoint).<br/><br/><strong>&#x21e1; This service supports bulk request</strong><br/>\n\n&#x23F1; <strong>Average measured processing time: 3.58 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/> NOTE: <<glossary:Flagged entities>> will not be taken into consideration in the resulting report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RankingRequestMulti"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RankingResponseMulti"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/retail-sales/avg-ticket-size-trends": {
      "post": {
        "summary": "Retail Sales Average Ticket Size Trend Report",
        "tags": [
          "Retail Sales Reports"
        ],
        "description": "Average Ticket Size report allows you to examine the average dollar amount of sales per transaction generated at the venue in your report, during the selected date range. You can compare the venue's average ticket size trend against its category average.<br/><br/>\n<b>Note</b>: Retail sales data currently excludes online transactions and only pertains to sales in brick and mortar locations. Transactions which occurred using the Buy Now Pick Up In Store option may be reflected in the data, depending on the retailer concerned. In the event that Retail Sales data is not available for the report\u2019s entire date range the response will provide the exact dates for which the data applies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvgTicketSizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvgTicketSizeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/retail-sales/days": {
      "post": {
        "summary": "Retail Sales Daily Trends",
        "tags": [
          "Retail Sales Reports"
        ],
        "description": "This service provides the retail sales metrics overview for the entire requested period aggregated either by the day of the week or by weekdays/weekend. The insights are available for various of metrics</b>: <ul> <li> <b>sales</b>: The dollar value (USD) of all sales during your selected aggregation.</li> <li> <b>avg_sales</b>: The dollar value (USD) of average sales per day during your selected aggregation.</li> <li> <b>sales_pct</b>: The percentage of total sales which occurred during your selected aggregation.</li> <li> <b>sales_sq_ft</b>: The total value of sales per square foot at the venue examined, during your selected aggregation.</li> <li> <b>transactions</b>: The total number of individual transactions which took place at the property examined during your selected aggregation.</li> <li> <b>transactions_pct</b>:The percentage of total transactions which occurred during your selected .aggregation.</li> <li> <b>avg_ticket_size</b>: The average dollar amount of sales per transaction generated at the venues in your report, per your selected aggregation.</li> </ul>\n<b>Note</b>: Retail sales data currently excludes online transactions and only pertains to sales in brick and mortar locations. Transactions which occurred using the Buy Now Pick Up In Store option may be reflected in the data, depending on the retailer concerned. In the event that Retail Sales data is not available for the report\u2019s entire date range the response will provide the exact dates for which the data applies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesDaysTrendsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesDaysTrendsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/retail-sales/overview": {
      "post": {
        "summary": "Retail Sales Overview",
        "tags": [
          "Retail Sales Reports"
        ],
        "description": "This service provides the retail sales metrics overview for the entire requested period.<br/><br/>\n<b>Note</b>: Retail sales data currently excludes online transactions and only pertains to sales in brick and mortar locations. Transactions which occurred using the Buy Now Pick Up In Store option may be reflected in the data, depending on the retailer concerned. In the event that Retail Sales data is not available for the report\u2019s entire date range the response will provide the exact dates for which the data applies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatesIdParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOverviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/retail-sales/sales-trends": {
      "post": {
        "summary": "Retail Sales Trend Report",
        "tags": [
          "Retail Sales Reports"
        ],
        "description": "This service provides the insights about sales performance at each venue examined in the report. Within the response of this service you will be receiving both the requested insights based on the date range, granularity and type of metric, and the annual sales for the past year-to-date and 3 last calendar years.<br/><br/>\n<b>Note</b>: Retail sales data currently excludes online transactions and only pertains to sales in brick and mortar locations. Transactions which occurred using the Buy Now Pick Up In Store option may be reflected in the data, depending on the retailer concerned. In the event that Retail Sales data is not available for the report\u2019s entire date range the response will provide the exact dates for which the data applies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesTrendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesTrendResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/retail-sales/transaction-trends": {
      "post": {
        "summary": "Retail Sales Transactions Trends Report",
        "tags": [
          "Retail Sales Reports"
        ],
        "description": "The Transaction Trend presents the total number of transactions generated at the venues in your report over time. You can compare the venue's transaction trend against its category or chain average.<br/><br/>\n<b>Note</b>: Retail sales data currently excludes online transactions and only pertains to sales in brick and mortar locations. Transactions which occurred using the Buy Now Pick Up In Store option may be reflected in the data, depending on the retailer concerned. In the event that Retail Sales data is not available for the report\u2019s entire date range the response will provide the exact dates for which the data applies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionTrendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionTrendResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/trade-area-demographics": {
      "post": {
        "summary": "Trade Area Demographics Profile Report",
        "tags": [
          "Trade Area Reports"
        ],
        "description": "Returns trade area demographics. By default returns <strong>potential</strong> demographics (population living in the trade area). Set <code>audienceType</code> to <code>captured</code> in the request body to get <strong>captured</strong> demographics (home-CBG demographics of actual visitors).<br/> Supported datasets to use are:<br/> <ul> <li>Census: ACS (2024)</li> <li>STI: Popstats</li> <li>STI: Landscape</li> <li>STI: Market Outlook</li> <li>STI: Spending Patterns</li> <li>STI: Workplace</li> <li>Spatial.ai:PersonaLive</li> <li>Spatial.ai:FollowGraph</li> <li>Experian:Mosaic</li> </ul> <br/>Datasets are available based on your account's settings<br/><br/> &#x23F1; <strong>Average measured processing time: 1.58 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\nNOTE: <<glossary:Flagged entities>> will not be taken into consideration in the resulting report<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeAreaDemographicsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeAreaDemographicsResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "204": {
            "$ref": "#/components/responses/204"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/trade-area/drive-time": {
      "post": {
        "summary": "Trade Area by Drive Time Report",
        "tags": [
          "Trade Area Reports"
        ],
        "description": "This service lets you retrieve the trade area polygon calculated for a specified drive time.<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeAreaByDriveTimeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeAreaByDriveTimeResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/true-trade-area": {
      "post": {
        "summary": "Trade Area Report",
        "tags": [
          "Trade Area Reports"
        ],
        "description": "True Trade Areas are calculated by the volume of traffic reaching the venue or complex . For example, setting 'traffic vol' to 70% draws a polygon that represents 70% of the visitors\u2019 home location.<br/> <br/> &#x23F1; <strong>Average measured processing time: 2.24 seconds </strong><br/> For more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrueTradeAreaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolygonResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-metrics": {
      "post": {
        "summary": "Visit Metrics Summary Report",
        "tags": [
          "Visits Reports"
        ],
        "description": "Retrieves visitors and visits for a given list of entities. <br/>This endpoint supports bulk requests up to 100 entities<br/><br/><strong>&#x21e1; This service supports bulk request</strong><br/> When nearbyRadius is set, a report will be generated for the first entity in the array <strong>only</strong>.<br/> <br/> &#x23F1; <strong>Average measured processing time: 10 seconds </strong><br/> For more information on request retries best practices and processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/> <br/> &#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic<br/><br/>\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitMetricsSummaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVisitMetricsSummary"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_bulk"
          },
          "207": {
            "$ref": "#/components/responses/207"
          },
          "400": {
            "$ref": "#/components/responses/400_invalid_argument"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-metrics/cbgs": {
      "post": {
        "summary": "Visit by CBGs Report",
        "tags": [
          "Visits Reports"
        ],
        "description": "This service populates a report of the CBGs that generate visitation to the properties examined. You may assess visitations per each CBG. You may also determine the desired data granularity.<br/><br/> <strong>&#x21e1; This service supports bulk request</strong><br/><br/> <strong>&#128205; This service doesn't support custom POI. </strong><br/><br/> * <strong>Please note</strong> that sparsely populated CBGs may not be included in the feed to align with Placer's privacy policy.<br/><br/> For more information on request retries best practices and  processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitsByCbgModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitsByCbgResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-metrics/days": {
      "post": {
        "summary": "Visits by Days Report",
        "tags": [
          "Visits Reports"
        ],
        "description": "Retrieves visits for a given entity(venue/complex/billboard) broken by the days of the week.<br/> <br/>The response includes 2 arrays:<br/> <ol> <li>Day of the week bins : [0,1,2,3,4,5,6], where each represents a day of the week. (i.e. Mon.-Sun.).</li> <li>Indicates the total visits for the POI during the selected date range for each of the day of the week bins (correlated to the location in the Day of the week array)</li> </ol> <br/> &#x23F1; <strong>Average measured processing time: 0.72 seconds </strong><br/> For more information on request retries best practices and processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitsByGranularityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitsByDayResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_bulk"
          },
          "204": {
            "$ref": "#/components/responses/204"
          },
          "207": {
            "$ref": "#/components/responses/207"
          },
          "400": {
            "$ref": "#/components/responses/400_invalid_argument"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-metrics/dwell-time": {
      "post": {
        "summary": "Visits by Dwell Time Report",
        "tags": [
          "Visits Reports"
        ],
        "description": "Retrieves visits for a given entity(venue/complex) broken by dwell time periods.<br/> <br/>The response includes:<br/> <ol> <li>Dwell time bins array: [0,5,15,30,45,60,75,90,105,120,135,150] (I.e. 5 represents 5-14 minutes, 150 represents all visits with dwell time higher than or equal to 150)</li> <li>Estimated foot traffic array: Indicates the total visits for the POI during the selected date range for each of the dwell time bins (correlated to the location in the dwell time bins array)</li> <li>Average dwell time</li> <li>Median dwell time</li> </ol> <br/> &#x23F1; <strong>Average measured processing time: 0.77 seconds </strong><br/> For more information on request retries best practices and processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitsByGranularityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitsByDwellTimeResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_bulk"
          },
          "204": {
            "$ref": "#/components/responses/204"
          },
          "207": {
            "$ref": "#/components/responses/207"
          },
          "400": {
            "$ref": "#/components/responses/400_invalid_argument"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-metrics/hours": {
      "post": {
        "summary": "Visits by Hours Report",
        "tags": [
          "Visits Reports"
        ],
        "description": "Retrieves visits for a given entity(venue/complex) broken by the hours of the day and its business opening hours.<br/> <br/>The response includes:<br/> <ul> <li>2 arrays: <ol> <li>Hour of the day bins: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], where each represents an hour in the day. (e.g. 11 = 11 am - 12 pm)</li> <li>Estimated foot traffic array: Indicates the total visits for the POI during the selected date range for each of the hour bins (correlated to the location in the Hour of the day array)</li> </ol> </li> <li> Array of the business opening hours for each day of the week. </li> </ul> <br/> &#x23F1; <strong>Average measured processing time: 0.79 seconds </strong><br/> For more information on request retries best practices and processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page<br/><br/>\n&#128205; This service supports the <<glossary:Nearby Activity report>>. Once setting a value to the nearbyRadius parameter, the report will be generated based on the nearby activity logic.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitsByGranularityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitsByHourResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_bulk"
          },
          "204": {
            "$ref": "#/components/responses/204"
          },
          "207": {
            "$ref": "#/components/responses/207"
          },
          "400": {
            "$ref": "#/components/responses/400_invalid_argument"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-trends": {
      "post": {
        "summary": "Visit Trends Report",
        "tags": [
          "Visits Reports"
        ],
        "description": "Retrieves visitations for a given list of entities in daily, weekly or monthly granularity.<br/><br/> <strong>&#x21e1; This service supports bulk request</strong><br/><br/> <strong> &#10045; This service supports chain level requests</strong><br/><br/> &#x23F1; <strong>Average measured processing time: 3.58 seconds </strong><br><br> <strong>&#128205; This service doesn't support custom POI. To pull visits trend for custom POI please use <a href=\"https://docs.placer.ai/reference/post_v1-reports-visit-trends-single\">Visit Trends Report for a Single Property </a> endpoint. </strong><br/><br/>\nFor more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitTrendsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitTrendsResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_bulk"
          },
          "207": {
            "$ref": "#/components/responses/207"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    },
    "/v1/reports/visit-trends/single": {
      "post": {
        "summary": "Visit Trends Report for a Single Property",
        "tags": [
          "Visits Reports"
        ],
        "description": "Retrieves visits for a given entity in daily, weekly or monthly granularity.<br/><br/>\nFor more information on request retries best practices and   processing measurements you may visit <a href=\"https://docs.placer.ai/reference/measurements\"> this</a> page",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-api-key": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitHistoryResponse"
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202_single"
          },
          "400": {
            "$ref": "#/components/responses/400_bad_request"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "${reports_lambda}",
          "passthroughBehavior": "when_no_match",
          "timeoutInMillis": 29000
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseError": {
        "title": "BaseError",
        "type": "object",
        "required": [
          "code",
          "details",
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Detail error message",
            "example": "Internal server error"
          },
          "details": {
            "type": "string",
            "example": "GENERAL_ERROR",
            "description": "Brief error message"
          },
          "code": {
            "type": "integer",
            "example": 5000,
            "description": "Status Code"
          },
          "requestId": {
            "$ref": "#/components/schemas/RequestId"
          }
        }
      },
      "ErrorBadRequest": {
        "title": "ErrorBadRequest",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseError"
          },
          {
            "type": "object",
            "example": {
              "code": 2000,
              "message": "Validation error. Field `startDate` is required",
              "details": "BAD_REQUEST",
              "requestId": "cfe57f50-fb64-11eb-8760-acde48001122:cfe56fce-fb64-11eb-8760-acde48001122"
            }
          }
        ]
      },
      "ErrPermissionDenied": {
        "title": "ErrPermissionDenied",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseError"
          },
          {
            "type": "object",
            "example": {
              "code": 1008,
              "details": "PERMISSION_DENIED",
              "message": "You don't have permission to perform this action",
              "requestId": "cfe57f50-fb64-11eb-8760-acde48001122:cfe56fce-fb64-11eb-8760-acde48001122"
            }
          }
        ]
      },
      "RequestId": {
        "type": "string",
        "example": "cfe57f50-fb64-11eb-8760-acde48001122:cfe56fce-fb64-11eb-8760-acde48001122",
        "description": "Request ID that can be used for tracing"
      },
      "DeleteCustomPoiResponse": {
        "title": "Delete Custom POI Response",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "result": {
                "type": "string",
                "example": "SUCCESS"
              }
            }
          }
        }
      },
      "DeleteTagMembersRequest": {
        "title": "Delete tag members request",
        "type": "object",
        "required": [
          "apiIds",
          "tagId"
        ],
        "properties": {
          "apiIds": {
            "type": "array",
            "description": "The list of entities to remove from the specified tag",
            "items": {
              "$ref": "#/components/schemas/ApiId"
            }
          },
          "tagId": {
            "type": "string",
            "example": "672be20c36e1d0ff18a13807",
            "description": "The Id of the tag to remove the list of entities from"
          }
        }
      },
      "ApiId": {
        "type": "string",
        "example": "venue:7d55054520e387813d764b03",
        "description": "Placer API Entity Id"
      },
      "ModifyTagEntitiesResponseSuccess": {
        "title": "Modify Tag Entities Response Success",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "result": {
                "type": "string",
                "example": "SUCCESS"
              },
              "tagId": {
                "type": "string",
                "example": "672be20c36e1d0ff18a13807"
              }
            }
          }
        }
      },
      "DeleteEntitiesFromTagResponseMultiStatus": {
        "title": "Delete Entities From Tag Response Multi Status",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "tagId": {
                "type": "string",
                "example": "672be20c36e1d0ff18a13807"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "oneOf": [
                {
[...]
